SaveBLADEvms.ps1
MainSSWWorkspace.code-workspace
SSWLeavingStandard
AzureClientSecret.key
AzureDevopsTok1.key
AzureDevOpsTok2.key
AzureSecret.key
AzureServicePrincipal.key
snipeapi.key
ZendeskTok.key
ZendeskUser.key
LeavingStandard/
O365Account.key
O365AccountKey.key
O365AccountPass.key
